<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"><!--<![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title><g:layoutTitle default="CINCH"/></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="${resource(dir: 'images', file: 'favicon.ico')}" type="image/x-icon">
		<link rel="apple-touch-icon" href="${resource(dir: 'images', file: 'apple-touch-icon.png')}">
		<link rel="apple-touch-icon" sizes="114x114" href="${resource(dir: 'images', file: 'apple-touch-icon-retina.png')}">
		<link rel="stylesheet" href="${resource(dir: 'css', file: 'main.css')}" type="text/css">
		<link rel="stylesheet" href="${resource(dir: 'css', file: 'mobile.css')}" type="text/css">
        <link rel="stylesheet" href="${resource(dir: 'css', file: 'cinch.css')}" type="text/css">
		<g:layoutHead/>
        <r:layoutResources />
	</head>
	<body>
    <div class="header">
		<div id="logo" class="header_logo" role="banner">
            CINCH - Digital Preservation Made Simple!
        </div>
        <div class="header_login">
            <sec:ifLoggedIn>
                Welcome Back!
                <g:link controller='logout' action='index'>Log out</g:link>
            </sec:ifLoggedIn>
            <sec:ifNotLoggedIn>
                <g:link controller='login' action='auth'>Log in</g:link>
            </sec:ifNotLoggedIn>
        </div>
        <div class="clear"></div>
    </div>
    <div class="menu">
    <ul>
        <li>
            <g:link controller="page" action="home">home</g:link>
        </li>
        <li>
            <g:link controller="page" action="about">about</g:link>
        </li>
        <li>
            <g:link controller="page" action="contact">contact</g:link>
        </li>
        <sec:ifLoggedIn>
        <li>
            <g:link controller="file">files</g:link>
        </li>
        </sec:ifLoggedIn>
    </ul>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="body">

        <g:layoutBody/>
    </div>
		<div class="footer" role="contentinfo"></div>
		<div id="spinner" class="spinner" style="display:none;"><g:message code="spinner.alt" default="Loading&hellip;"/></div>
		<g:javascript library="application"/>
        <r:layoutResources />

	</body>
</html>