.header_login
{
    padding: .5em;
    float:right;
}
.header_logo {
    font-size: 1.5em;
    padding: .5em;
    float:left;
}
.clear
{
    clear:both;
}
.header {
    background-color: #abbf78;
    width: 100%;
}
.notdone
{

}
.done
{
    background-color: #ded;
}
.doneerrors
{
    background-color: #ecc;
}
td.tableFileUrl
{
    width: 300px;
}
.menu
{
    color: #ded;
    padding: .5em;
    background-color: #111;
}
.menu ul
{
    float:left;
    list-style: none;
}
.menu li
{
    float:left;
    list-style: none;
    margin-right: 1em;
    width: 5em;
    text-align:center;
}
.menu li:hover {
    background-color: #ded;
    color: #111;
}
.menu a
{
    text-decoration:none;
    color: #ded;
}
.menu a:hover
{
    text-decoration:none;
    color: #111;
}
